#chicken-fried-rice{
    background-color: aquamarine;
    /* display: flex; */
}

#chicken-noodles{
    background-color: darkturquoise;
}

#chicken-65{
    background-color: rgb(147, 211, 208);
}

/* #mainid{
    background-color: navajowhite;
} */

#headr{
    background-color: navajowhite;
}
 #bodycolor{
    background-color: lightskyblue;
 }

 .linkss{
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 30px;

 }
 #cen{
    text-align: center;
    padding: 40px;
    border: 1px solid #4CAF50;
    color: blueviolet;
    font-size: 50px;
 
 }
 